*.cmd
coverage.lcov
.nyc_output
coverage
node_modules
out
.DS_Store
.history
/.local/
/.plans/
.vscode/launch.json
.vscode/settings.json

/tests/*.rbxl
/tests/*.rbxl.lock
/tests/include

/sourcemap.json

/.pnpm-store/
.direnv/
